{% extends "layout.html" %}

{% block title %}
New entry
{% endblock %}

{% block main %}
<form action="/entry" method="post">
    
    <div class="centered">
        <input maxlength="20" autocomplete="off" autofocus name="title" placeholder="Title" type="text"> <p class="inline">DATE: {{ date }}</p>
    </div>

<div id="content" class="centered">

        <p> Quantities Table</p><br>
        <table id="Quantities">
            <tr>
                <td>Name</td>
                <td>Weight(gr)</td>
                <td>Moles</td>
                <td>Equivalents</td>
            </tr>

            <tr>
                <td> <input maxlength="20" autocomplete="off" autofocus name="name1" placeholder="Main reagent" type="text"> </td>
                <td> <input maxlength="20" autocomplete="off" autofocus name="weight1" placeholder="Weight" type="number"> </td>
                <td> <input id="moles1" maxlength="10" autocomplete="off" autofocus name="moles1" placeholder="Moles" type="number"> </td>
                <td> <p>1</p> </td>
            </tr>

            <tr>
                <td> <input maxlength="20" autocomplete="off" autofocus name="name2" placeholder="Reagent" type="text"> </td>
                <td> <input maxlength="20" autocomplete="off" autofocus name="weight2" placeholder="Weight" type="number"> </td>
                <td> <input id="moles2" maxlength="10" autocomplete="off" autofocus name="moles2" placeholder="Moles" type="number" oninput="findEquivalence()"> </td>
                <td> <p id="equivalence"></p> </td>
            </tr>
        </table>
        
       
</div>

<textarea maxlength="2000" autocomplete="off" autofocus name="text" placeholder="Text" type="text"></textarea>
    
<div id="footer" class="centered">
    <button class="submitentry" type="submit"> Save Entry </button>
</div>

</form>
{% endblock %}